.container {

}

.deletemodal {
    display: flex;
    justify-content: center;
}

.bookinglist {
    list-style: none;
    padding: 0;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}