.container {
    position: relative;
    width: 6rem;
    min-height: 1.5rem;
    /* border: 0.05rem solid #777; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* padding: 0.5rem; */
    /* border-radius: 0.8rem; */
    outline: none;
}

.container h4 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
}

.container:focus {
    border-color:hsl(283, 86%, 65%)
}

.value {
    flex-grow: 1
}

.clear-btn {
    background: none;
    color: #777;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25rem;
}

.clear-btn:focus,
.clear-btn:hover {
    color: #333;
}

.divider {
    background-color: #777;
    align-self: stretch;
    width: 0.05rem;
}

.caret {
    translate: 0 25%;
    border: 0.25rem solid transparent;
    border-top-color: #777;
    cursor: pointer;
}

.options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 10rem;
    overflow-y: auto;
    border: 0.05rem solid #777;
    /* border-radius: 0.8rem; */
    width: 10rem;
    left: 0;
    top: calc(100% + 0.25rem);
    z-index: 100;
    padding: 0.5rem;
    background-color: white;
    font-size: 0.8rem;
}

.options.show {
    display: block;
}

.option {
    padding: 0.25rem;
    cursor: pointer;
}

.option.selected {
    background-color:hsl(283, 64%, 50%);
    color: white;
}

.option.highlighted {
    background-color:hsl(283, 85%, 81%);
    color: black;
}
