.container {
    display: flex;
    border: 0.05rem solid #777;
    border-radius: 0.8rem;
    padding: 0.4rem 0.5rem;
    gap: 0.5rem;
}

.container > input {
    width: 100%;
    text-align: right;
}

.container > input,
.container > input:focus
.container > input:target {
    outline: none;
    border: none;
    font-size: 0.8rem;
    font-family: inherit;
}